# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
tier_cache_db/
*.log
.vscode
.claude
*.bat
build/
.idea/
*.iml
.DS_Store
*.log
rocksdb_data/
ehcache-*
*.data
*.sst
LOG.*